@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(13, 13, 13, 0.45), rgba(13, 13, 13, 0.45)),
    url(../Media/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  z-index: -1;
}
.login-btn {
  position: absolute;
  right: 0;
  padding-right: 10px;
  padding-top: 20px;
}
.login-btn a {
  text-decoration: none;
  background: green;
  height: 40px;
  width: 70px;
  font-size: 20px;
  padding: 10px 20px;
  color: #fff;
  letter-spacing: 2px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.login-btn a:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: 0;
}
.content {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
  color: #fff;
}
.content .head h1 {
  margin-top: 10%;
  font-size: 10rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 8px;
}
.Search {
  margin-top: 50px;
}
input[type="text"] {
  display: inline-block;
  margin: 0;
  border: none;
  width: 650px;
  max-width: calc(100% - 55.5px);
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box;
  background-color: #fff;
  text-align: left;
  outline: 0;
  font-size: 1.5em;
  padding: 15px;
}
input[type="submit"] {
  background-image: url(../Media/search.png);
  display: inline-block;
  vertical-align: bottom;
  margin-left: -6px;
  width: 25px;
  font-size: 1.5em;
  padding: 15px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-sizing: content-box;
  text-align: center;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  outline: 0;
  border: none;
  cursor: pointer;
}
input:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.find_vin {
  margin-top: 20px;
}
.find_vin a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
@media (max-width: 1250px) {
  .content .head {
    margin-top: 20% !important;
  }
  .content .head h1 {
    font-size: 7em;
  }
}
@media (max-width: 770px) {
  .content .head {
    margin-top: 20% !important;
  }
  .content .head h1 {
    font-size: 8em;
  }
}
@media (max-width: 620px) {
  .content .head {
    margin-top: 20% !important;
  }
  .content .head h1 {
    font-size: 6em;
  }
}
@media (max-width: 500px) {
  .content .head {
    margin-top: 50% !important;
  }
  .content .head h1 {
    font-size: 4em;
  }
}
@media (max-width: 350px) {
  .content .head {
    margin-top: 50% !important;
  }
  .content .head h1 {
    font-size: 3em;
  }
}
